<div class="container">
  <div class="lead well">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="<%= @question.gravatar %>">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= @question.email %> asked:</h4>
        <div>
          <small>
            <%= time_ago_in_words @question.created_at %> ago
          </small>
        </div>
        <%= @question.body %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-1">
      <div>
        <% if user_signed_in? && current_user.email == 'tersl.adam@seznam.cz' %>
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#AnswerModal">Submit new
              answer
            </button>
            <%= render 'answers/new_answer_form' %>
        <% end %>

        <% @question.answers.each do |a| %>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="<%= a.gravatar %>">
                </a>
              </div>
              <div class="media-body">
                <h3 class="media-heading">Coach <%= a.email %> answered:</h3>
                <div>
                  <small>
                    <%= time_ago_in_words a.created_at %> ago
                  </small>
                </div>
                <%= a.body %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

