<dl>
  <h1 align="center"><%= @workouts.first.workout_type.capitalize %> workouts</h1>
</dl>
<div class="jumbotron">
  <h3>
    <%= simple_format(@workouts.first.description) %>
  </h3>
</div>
<br>

<div class="container">
  <% @workouts.each do |w| %>
      <div class="lead well">
        <div class="media">
          <div class="media-left media-middle">
            <img src="<%= w.thumbnail %>" height="200" width="300">
          </div>
          <div class="media-body">
            <div class="main col-lg-12 myHalfCol">
              <div class="col-lg-6">
                <h3 class="media-heading"><%= w.title %></h3>
              </div>
              <h4 class="col-lg-6" align="right">Rest between sets: <%= w.rest %> s</h4>
            </div>

            <% if w.workout_type == 'split' %>
                <div class="main col-lg-12 myHalfCol">
                  <div class="col-lg-6">
                    A:
                    <% w.excercises.first(4).each do |e| %>
                        <% ex = w.workout_compositions.where(:excercise_id => e.id).first %>
                        <div>
                          <a href="<%= excercise_path(e.muscle_group) %>">
                            <%= e.title %>
                          </a>
                          - <%= ex.sets %> x <%= ex.reps %>
                        </div>
                    <% end %>
                  </div>

                  <div class="col-lg-6">
                    B:
                    <% w.excercises.last(4).each do |e| %>
                        <% ex = w.workout_compositions.where(:excercise_id => e.id).first %>
                        <div>
                          <a href="<%= excercise_path(e.muscle_group) %>">
                            <%= e.title %>
                          </a>
                          - <%= ex.sets %> x <%= ex.reps %>
                        </div>
                    <% end %>
                  </div>
                </div>
            <% else %>
                <% w.excercises.each do |e| %>
                    <% ex = w.workout_compositions.where(:excercise_id => e.id).first %>
                    <div>
                      <a href="<%= excercise_path(e.muscle_group) %>">
                        <%= e.title %>
                      </a>
                      - <%= ex.sets %> x <%= ex.reps %>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>