<% unless @excercises.empty? %>
    <dl>
      <h1 align="center"><%= @excercises.first.muscle_group.capitalize %> excercises</h1>
    </dl>
<% end %>
<div class="container">
  <% if user_signed_in? && current_user.email == 'tersl.adam@seznam.cz' %>
      <div>
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#NewExcerciseModal">Add new
        excercise
      </button>
      </div>
      <%= render 'new_excercise_form' %>
      <br>
  <% end %>
  <% @excercises.each do |e| %>
      <div class="lead well">
        <div class="media">
          <div class="media-left media-middle">
            <img src="<%= e.thumbnail %>" height="280" width="350">
            <% if current_user %>
                <%= rating_for e, "excercise", star: 5, star_path: '/images/ratyrate', disable_after_rate: true %>
            <% else %>
                <%= rating_for e, "excercise", star: 5, star_path: '/images/ratyrate', readonly: true %>
            <% end %>
          </div>
          <div class="media-body">
            <h2 class="media-heading"><%= e.title %></h2>
            <%= e.description %>
          </div>
        </div>
      </div>
  <% end %>
</div>
