<h1 align="center">Latest news and articles in fitness world</h1>
<br>
  <% if user_signed_in? && current_user.email == 'tersl.adam@seznam.cz' %>
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#NewNewsModal">Add news
      </button>

      <%= render 'new_news_form' %>
  <% end %>
<% @news.each do |n| %>
    <div class="container">
      <div class="lead well">
        <div class="media">
          <div class="media-left">
            <img src="<%= n.thumbnail %>" height="250" width="250">
          </div>
          <div class="media-body">
            <h2><%= n.title %></h2>
            <div>
              <div>
                <%= time_ago_in_words n.created_at %> ago
              </div>
            </div>
            <br><br><br>
            <div align="right">
              <a href="/news/<%= n.id %>" class="btn btn-info btn-lg ">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

